<%- include('../includes/head.ejs') %>

<div class="row">
    <div class="col-md-10 offset-md-1 anim" style="background-color: white; margin-top: 3rem;">
        <%- include('../home.ejs') %>
    </div>
</div>
<%- include('../includes/end.ejs') %>
